*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: sans-serif;
    text-align: center;
}
/* Maquetación
        CABECERA    (arriba del todo y que ocupe el 100%)
             Título
        MENÚ        (debajo de la cabecera y que ocupe el 100%)
        CONTENIDO   (debajo del menú y que ocupe el 80%)
        LATERAL     (debajo del menú y a la derecha del contenido)
        FOOTER      (abajo del todo y ocupe el 100%)
 */

.website{
    display: grid;
    /* grid-template-columns: 80% 20%; */
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 120px 70px 2fr 70px;

    grid-template-areas: 
        "cabecera cabecera"
        "menu menu"
        "contenido lateral"
        "footer footer"
    ;
    width: 98%;
    height: 100vh;
    margin: 0 auto;
    border: 1px solid grey;

}

.website__header{
    grid-area: cabecera;
    align-content: center;
    background-color: salmon;
    color: white;
}
.website__menu{
    grid-area: menu;
    background-color: indianred;
    color: white;
    line-height: 70px;
}
.menu__list{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    list-style: none;
}
.list__item a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.website__content{
    grid-area: contenido;
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    padding: 20px;
    grid-gap: 25px;
}
.content__article{
    background-color: peachpuff;
    border: 1px solid salmon;
    color: white;
    /* height: 100px; */
}
.website__sidebar{
    grid-area: lateral;
    background-color: rgb(250, 128, 114);
    color: white;
}
.website__footer{
    grid-area: footer;
    background-color: black;
    color: white;
}